<% provide(:title, "ホーム") %>

<div class="row">
  <div class="center jumbotron">
    <h1>カープベストナイン</h1>
  </div>

  <% @best_nines.each do |best_nine| %>
    <div class="col-sm-4 nine_table">
      <table border="1">
        <caption><%= link_to best_nine.title,  best_nine%></caption>
        <%= render "shared/mynine_table", best_nine: best_nine %>
      </table>
    </div>
  <% end %>

  <%= will_paginate %>
</div>